<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= tournament.format %>
  </p>

  <p>
    <strong>Number of teams:</strong>
    <%= tournament.number_of_teams %>
  </p>

</div>
