.login-page
  #container.container
    .form-container.sign-in-container
      .login-container
        %h1 Utwórz turniej
        = render "form", tournament: @tournament
    .overlay-container
      .overlay
        .overlay-panel.overlay-right
          %h2 Czas na sportową przygodę!
          %p Gotowy na emocjonującą podróż po futbolowej pasji? Twórz swoje własne turnieje, wybieraj format, drużyny i harmonogram, aby dać życie swoim sportowym wizjom. Dołącz do naszej społeczności kreatorów i kibiców, aby wspólnie tworzyć wyjątkowe wydarzenia na boisku!

          