.login-page
  #container.container
    .form-container.sign-in-container
      .login-container
        %h1 Utwórz turniej
        = render "form", tournament: @tournament
    .overlay-container
      .overlay
        .overlay-panel.overlay-right
          %h2 Czas na sportową przygodę!
          %p Twój turniej jest tylko kilka kroków od realizacji! Wypełnij formularz, aby stworzyć swoje własne piłkarskie wydarzenie. Dzięki niemu będziesz mógł zjednoczyć pasjonatów piłki nożnej i stworzyć niezapomniane chwile dla drużyn i kibiców.
          %p Twój turniej jest tylko kilka kroków od realizacji! Wypełnij formularz, aby stworzyć swoje własne piłkarskie wydarzenie. Dzięki niemu będziesz mógł zjednoczyć pasjonatów piłki nożnej i stworzyć niezapomniane chwile dla drużyn i kibiców.