-# .login
-#   - if current_user
-#     %p Hello
-#     %b= current_user.email
-#     = image_tag(current_user.avatar_url) 
-#     = link_to "Edit account", edit_user_registration_path
-#     = button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: false}
-#   - else
-#     %p Sign in plis
-#     = link_to "Rejestracja", new_user_registration_path
-#     = link_to "Logowanie", new_user_session_path
-# .main
-#   %p Create new tournament!
-#   = link_to "Utwórz turniej", new_tournament_path

-#   %p Your favorite tournaments and players
-#   = link_to "Ulubione", favorites_tournaments_path

-#   %p Last tournaments
-#   = link_to "Ostatnie Turnieje", last_tournaments_tournaments_path

/ Strona Główna
