.last-tournaments
  %h2 Ostatnie turnieje
  .standings-table
    %table
      %thead
        %tr
          %th{style: "text-align: left;"} Nazwa
          %th Drużyny
          %th Format
      %tbody
        - @tournaments.each_with_index do |tournament|
          %tr
            %td{style: "text-align: left;"}
              = link_to tournament.name, tournament_path(tournament.id)
            %td
              = tournament.number_of_teams
            %td
              = tournament.format
