<h1>Editing single stat</h1>

<%= render "form", single_stat: @single_stat %>

<br>

<div>
  <%= link_to "Show this single stat", @single_stat %> |
  <%= link_to "Back to single stats", single_stats_path %>
</div>
