<div class="tournaments-navbar">
  <table>
    <thead>
      <tr>
        <th><%= link_to 'Przegląd', tournament_path(@tournament.id), class: ('active' if current_page?(tournament_path(@tournament.id)))  %></th>
        <th><%= link_to 'Mecze', tournament_games_path(@tournament.id), class: ('active' if current_page?(tournament_games_path(@tournament.id))) %></th>
        <th><%= link_to 'Tabela', tournament_standings_path(@tournament.id), class: ('active' if current_page?(tournament_standings_path(@tournament.id))) %></th>
        <th><%= link_to 'Strzelcy', tournament_top_scorers_path(@tournament.id), class: ('active' if current_page?(tournament_top_scorers_path(@tournament.id))) %></th>
      </tr>
    </thead>
  </table>
</div>
